h2:hover {
    color: red;
}
/* .subtitle {
    color: blue;
} */

h2[class=subtitle]{
    color: blue;
}
li:only-child{
color: blue;
}

h2 + a {
    color: red;
}
textarea ~ button {
    color: purple;
}
ul > li{
    color: blue;
}
ul li{
    color: green;
}
img[src*="../css/img"]{
    border: 10px solid black ;
}
h2[Class~=article-subtitle]{
    background-color: green;
}