body{
    background: rgb(192, 227, 238);
    text-align: justify;
    text-transform: none;
    font-size: 1.15em;
    /* font-family: "Lato",sans-serif; */

}

#title{
    color: rgb(235, 118, 118);
    font-weight: 800;
    font-family: 'Slabo 27px', serif;
}
.subtitle{
    color: rgb(218, 147, 147);
    font-family: 'Slabo 27px', serif;
}



h2:hover {
    color: red;
}
/* .subtitle {
    color: blue;
} */

h2[class=subtitle]{
    color: blue;
}
li:only-child{
color: blue;
}

h2 + a {
    color: red;
}
textarea ~ button {
    color: purple;
}
ul > li{
    color: blue;
}
ul li{
    color: green;
}
img[src*="../css/img"]{
    border-radius: 5px ;
}
h2[Class|=article-subtitle]{
    background-color: green;
}
#service-image{
    width: 70vw;
    height: 400px;
    
    
    /* background: url("../css/img/img-2.jpg"); */
    background-size: cover;
    border: 5px solid rgb(80, 121, 80);
    /* background: linear-gradient(to bottom right, rgb(165, 228, 165),rgb(255, 255, 255)
    ); */
    background: radial-gradient(circle,rgb(131, 247, 255), rgb(74, 89, 95),rgb(45, 199, 186)
    );
}
.link{
    text-decoration: underline;
    color: purple;
 } 
 .italics{
     font-style: italic;
 }
#about-us-image{
    height: 290px;
    width: 60%;
    border: 10px solid rgb(51, 54, 92);
    margin: 80px 40px;
    float: right;
   
}
.container{
    
    background:white;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    
    
}
.container-item{
    background: rgb(59, 99, 59);
    color: white;
    text-align: center;
    font-size: 25px;
    width: 70px;
    line-height: 50px;
    margin: 10px;
   
}
.grid-container{
    background-color: rgb(250, 250, 250);
    margin: 10px;
    height: 300px;
    padding: 50px;
}
.grid-item{
    color: black;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    width: 70px;
    margin: 10px;
}
