body{
    background: rgb(192, 227, 238);
    text-align: justify;
    text-transform: none;
    font-size: 1.15em;
    font-family: "Arial",sans-serif;

}

#title{
    color: rgb(235, 118, 118);
    font-weight: 800;
}
.subtitle{
    color: rgb(218, 147, 147);
}



h2:hover {
    color: red;
}
/* .subtitle {
    color: blue;
} */

h2[class=subtitle]{
    color: blue;
}
li:only-child{
color: blue;
}

h2 + a {
    color: red;
}
textarea ~ button {
    color: purple;
}
ul > li{
    color: blue;
}
ul li{
    color: green;
}
img[src*="../css/img"]{
    border-radius: 5px ;
}
h2[Class|=article-subtitle]{
    background-color: green;
}
#service-image{
    width: 70%;
    height: 400px;
    /* background: url("../css/img/img-2.jpg"); */
    background-size: cover;
    /* background: linear-gradient(to bottom right, rgb(165, 228, 165),rgb(255, 255, 255)
    ); */
    background: radial-gradient(circle,rgb(7, 83, 7), rgb(79, 206, 79),rgb(255, 255, 255)
    );
}
.link{
    text-decoration: underline;
    color: purple;
 } 
 .italics{
     font-style: italic;
 }