h1, h2,h3,h4,h5,h6{
    color: rgb(129, 129, 219);
}
p {
    font-family: 'Heebo', sans-serif;
}
li {
    font-family: 'Heebo', sans-serif;
}
.content{
    animation-name: fade-in;
    animation-duration: 5s;
}
body{
    background: rgba(112, 185, 214,0.5);
    
}
#main{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
}
img[src*="../img"]{
    border-radius: 5px ;
    width: 350px;
    height: 200px;
    transition: 0.5s all;
    
}
img:hover{
    width: 500px;
    height: 250px;
}
 .image-grid{
    display:flex;
     flex-wrap: wrap;
     justify-content: center;
} 
.image-grid >img {
    margin: 10px;
}
#image-1{
    float: right;
    margin: 15px;
    height: 200px;
}
.sidebar{
    height: fit-content;
    background: rgb(214, 182, 123);
    margin: 50px 5px;
    justify-content: center;
}
.post{
    border: 2px solid rgb(206, 139, 58);
    margin: 10px;
    
}
.post-title {
    margin-left: 10px;
}
.post-text{
    margin-left: 5px;
    margin-right: 5px;
}
.post > a {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(60, 60, 126);
    transition: 0.5s color;
    text-decoration: none;
}
.post > a:hover{
    color: rgb(73, 184, 221);
}
@keyframes fade-in{
    from{
        opacity: 0;}
    to{  opacity: 1; }
}